<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TexSEF Infrastructure Portal @ cdev</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/texsef/texsef.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <form id="form">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Email/Username" required id="username">
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password/TexID" required id="password">
                </div>
                <div class="remember-forgot">
                    <a href="#">Forgot password?</a>
                </div>
                <button type="submit" class="btn" id="btn">Login</button>
                <div class="register-link">
                    <p>Don't have an account? <a href="https://cd-us.site">Register</a></p>
                </div>
                <div id="error-message" style="color: red; display: none;"></div>
            </form>
        </div>

        <script>
            window.APP_CONFIG = {
                firebaseConfig: {
                    apiKey: "{{ firebase_config.apiKey }}",
                    authDomain: "{{ firebase_config.authDomain }}",
                    projectId: "{{ firebase_config.projectId }}",
                    storageBucket: "{{ firebase_config.storageBucket }}",
                    messagingSenderId: "{{ firebase_config.messagingSenderId }}",
                    appId: "{{ firebase_config.appId }}"
                }
            };
        </script>
        <script src="{{ url_for('static', filename='js/texsef/texsef.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/texsef/texsef-firebase.js') }}"></script>
    </body>
</html>
